button{
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin: 0 5px 0 5px;
}

table{
	border: 2px groove #4b0363;
	background-color: #efffef;
}
tr{
	height: 50px;
}
td, th{
	text-align: right;
	vertical-align: bottom;
	color: #4b0363;
	padding: 5px;
	border: 2px groove #4b0363;
}

th{
	text-align: center;
	font-size: 24px;
}

input{
	border-color: #4b0363;
	border-radius: 2px;
	border-style: groove;
	width: 80%;
}

button.good{
	background-color: #f9f909;
}

button.better{
	background-color: #d1f909;
}

button.best{
	background-color: #65f909;
}

